In [10]:
from pyprojroot import here
db_path = "data/sqldb"

In [11]:
from langchain_community.utilities import SQLDatabase
db = SQLDatabase.from_uri(f"sqlite:///{db_path}")
print(db.dialect)
print(db.get_usable_table_names())

sqlite
['customer_data', 'partner_data', 'transaction_data']

In [13]:
db.run("SELECT * FROM partner_data LIMIT 10;")

"[(9001, 'American Airlines', 'AA'), (9002, 'Jetblue', 'JB'), (9003, 'GAP', 'GAP'), (9004, 'Barclaycard', 'BC'), (9005, 'Wyndham', 'WY')]"

In [14]:
db.run("SELECT * FROM customer_data LIMIT 10;")

"[(10001, 'Sankar', 'New York'), (10002, 'Ragul', 'Los Angeles'), (10003, 'Aswin', 'Boston'), (10004, 'Sriram', 'Seattle'), (10005, 'Rinika', 'Chicago'), (10006, 'Ponvignesh', 'Los Angeles'), (10007, 'Ramakrishnan', 'New York'), (10008, 'Yogan', 'Los Angeles'), (10009, 'Subrat', 'Chicago'), (10010, 'Suriya', 'New York')]"

In [12]:
db.run("SELECT * FROM transaction_data LIMIT 10;")

"[(10001, 9001, 100, '6/15/2024', 'success'), (10002, 9003, 150, '4/16/2024', 'failed'), (10003, 9002, 90, '3/17/2024', 'success'), (10004, 9004, 50, '6/18/2024', 'success'), (10005, 9001, 200, '4/19/2024', 'success'), (10006, 9003, 250, '7/20/2024', 'success'), (10007, 9002, 180, '5/21/2024', 'failed'), (10008, 9004, 100, '6/22/2024', 'success'), (10009, 9001, 150, '7/23/2024', 'success'), (10010, 9003, 200, '4/24/2024', 'failed')]"